/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Banner */

.banner {
  height: 32.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3.25%;
  -webkit-box-pack: space-around;
      -ms-flex-pack: space-around;
          justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: hsl(271, 76%, 70%);
  padding-right: 5%;
  position: relative;
}

.banner h1 {
  color: white;
  font-family: sans-serif;
  font-size: 1.3rem;
  text-align: left;
  font-style: italic;
  font-weight: normal;
  margin: 1rem 0 3rem;
}

html.fonts-loaded .banner h1 {
  font-family: 'Raleway';
}

.banner-photo {
  height: 95%;
}

.banner-logo-container {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-logo {
  height: 55%;
  margin-bottom: 3%;
}

.banner-photo img,
.banner-logo img {
  width: auto;
}

#banner-registration-button {
  color: hsl(271, 76%, 70%);
  background-color: white;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-family: sans-serif;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  position: relative;
  bottom: 3%;
}

html.fonts-loaded #banner-registration-button {
  font-family: 'Open Sans';
}

#banner-registration-button:hover {
  background-color: hsl(271, 76%, 60%);
  color:white;
}

@media only screen and (max-width: 1050px) {
  .banner {
    padding-top: 2.5%;
  }

  .banner-photo {
    height: 100%;
  }

  .banner-logo {
    margin-bottom: 2.5%;
  }

  .banner h1 {
    margin-bottom: 3rem;
    position: relative;
    bottom: 2%;
  }

  #banner-registration-button {
    bottom: 8%;
  }
}

@media only screen and (max-width: 900px) {
  .banner-photo {
    height: 105%;
  }

  #banner-registration-button {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 685px) {
  .banner h1 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .banner {
    padding: 5%;
    height: auto;
  }

  .banner h1 {
    font-size: 2rem;
    margin: 0 0 4rem;
  }

  .banner-photo {
    display: none;
  }

  .banner-logo {
    width: 52.5%;
    height: auto;
    margin-bottom: 6%;
  }

  .banner-logo img {
    width: 100%;
  }

  #banner-registration-button {
    width: 60%;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 365px) {
  .banner h1 {
    font-size: 12px;
    text-align: center;
  }

  #banner-registration-button {
    font-size: 12px;
  }
}

/* Procedures */

.procedures-section {
  background-color: white;
}

.procedures-header {
  text-align: center;
  padding-top: 4%;
  font-size: 3rem;
  font-family: serif;
}

html.fonts-loaded .procedures-header {
  font-family: 'Playfair Display';
}

.procedures-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.procedure {
  width: 23%;
  margin: 5vw 0;
  color: black;
  text-align: center;
  text-decoration: none;
}

.procedure picture {
  width: 100%;
  height: 15.33vw;
}

.procedure h3 {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1em;
  font-family: sans-serif;
}

html.fonts-loaded .procedure h3 {
  font-family: 'Raleway';
}

@media only screen and (max-width: 900px) {
  .procedures-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .procedures-header {
    display: none;
  }

  .procedure {
    width: 49.75%;
    margin-top: 0.5vw;
    margin-bottom: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .pr-first,
  .pr-third {
    margin-right: 0.5%;
  }

  .pr-third,
  .pr-fourth {
    margin-bottom: 0.5vw;
  }

  .procedure picture {
    -webkit-filter: brightness(60%);
            filter: brightness(60%);
    height: 28.43vw;
  }

  .procedure h3 {
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-top: 0;
    font-family: serif;
  }

  html.fonts-loaded .procedure h3 {
    font-family: 'Playfair Display';
  }
}

@media only screen and (max-width: 600px) {
  .procedures-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .procedure {
    width: 100%;
    margin-top: 1vw;
  }

  .pr-first,
  .pr-third {
    margin-right: 0;
  }

  .pr-third {
    margin-bottom: 0;
  }

  .pr-fourth {
    margin-bottom: 1vw;
  }

  .procedure h3 {
    font-size: 4rem;
  }

  .procedure picture {
    height: 57.14vw;
  }
}

/* About me */

.about-me {
  padding: 5% 0;
  background-color: hsl(271, 76%, 70%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me h2 {
  font-family: serif;
  font-size: 3rem;
  margin: 1rem 0 3rem;
  text-align: center;
}

html.fonts-loaded .about-me h2 {
  font-family: 'Playfair Display';
}

.about-me-photo {
  max-width: 35%;
  margin-right: 5vw;
}

.about-me-photo img {
  -webkit-box-shadow: 16px 16px 16px hsl(271, 65%, 60%);
          box-shadow: 16px 16px 16px hsl(271, 65%, 60%);
  width: 100%;
  height: 100%;
}

.about-me-photo img.with-max-height {
  height: 80vh;
  width: auto;
}

.about-me-content {
  display: inline-block;
  width: 40%;
}

.about-me-content p {
  font-family: sans-serif;
  font-style: italic;
  line-height: 1.5;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-align: justify;
}

html.fonts-loaded .about-me-content p {
  font-family: 'Raleway';
}

@media only screen and (max-width: 1050px) {
  .about-me-content p {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 900px) {
  .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about-me h2 {
    font-size: 4rem;
  }

  .about-me-content {
    width: 80%;
  }

  .about-me-content p {
    font-size: 2rem;
  }

  .about-me-photo {
    margin: 3rem auto;
    max-width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .about-me h2 {
    font-size: 5rem;
  }

  .about-me-content p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 365px) {
  .about-me-content p {
    font-size: 12px;
  }
}

/* Gallery */

.gallery {
  padding: 5%;
  background-color: white;
}

.gallery-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7.65vw 3.6vw;
}

.gallery-header h2 {
  font-size: 3rem;
  font-family: serif;
  font-weight: 500;
}

html.fonts-loaded .gallery-header h2 {
  font-family: 'Playfair Display';
}

.follow-button {
    padding: 1rem;
    margin: 0 0.5rem;
    color: white;
    text-decoration: none;
    background-color: hsl(271, 76%, 70%);
    font-family: sans-serif;
    font-size: 1.1rem;
    border-radius: 1.25rem;
}

html.fonts-loaded .follow-button {
  font-family: 'Open Sans';
}

.follow-button .svg-tiktok-icon {
  background-color: hsl(271, 76%, 70%);
  height: 1.4rem;
  width: auto;
  vertical-align: -0.3vw;
}

.follow-button .fa-instagram {
  font-size: 1.5em;
  line-height: .0467em;
  vertical-align: -.125em;
}

#gallery-photos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-photo {
  width: 20%;
  margin: 0.45vw;
  cursor: pointer;
}

.square {
  height: 18vw;
}

.rectangle {
  height: 24vw;
}

#full-screen-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.9);
  z-index: 10;
}

#full-screen-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 90%;
  width: auto;
  height: auto;
  aspect-ratio: auto;
}

.full-screen-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.full-screen-nav .fa {
  color: white;
  font-size: 2em;
}

.full-screen-nav .fa:hover {
  color: gray;
}

#close-button {
  top: 4vw;
  right: 4vw;
}

#prev-button {
  left: 2%;
}

#next-button {
  right: 2%;
}

@media only screen and (max-width: 1050px) {
  .follow-button {
    font-size: 0.9rem;
  }

  .follow-button .svg-tiktok-icon {
    height: 1.2rem;
  }
}

@media only screen and (max-width: 990px) {
  .follow-button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .gallery-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 3rem;
  }

  .gallery-header h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .follow-buttons {
    width: 80%;
    text-align: center;
  }

  .follow-button {
    display: inline-block;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.75rem;
    padding: 1.5rem;
  }

  .follow-button .svg-tiktok-icon {
    height: 2.2rem;
    vertical-align: -0.6vw;
  }

  .gallery-photo {
    width: 40%;
  }

  .square {
    height: 36vw;
  }

  .rectangle {
    height: 48vw;
  }

  .full-screen-nav .fa {
    font-size: 4rem !important;
  }

  #close-button {
    top: 6vw;
  }
}

@media only screen and (max-width: 750px) {
  #close-button {
    top: 5vw;
    right: 3vw;
  }
}

@media only screen and (max-width: 725px) {
  #close-button {
    top: 4vw;
    right: 2vw;
  }
}

@media only screen and (max-width: 700px) {
  #close-button {
    top: 3vw;
    right: 1vw;
  }
}

@media only screen and (max-width: 600px) {
  .gallery-header h2 {
    font-size: 5rem;
  }

  .follow-buttons {
    width: 60%;
  }

  .follow-button {
    display: block;
    font-size: 2rem;
    border-radius: 1.5rem;
  }

  .follow-button .svg-tiktok-icon {
    height: 2.5rem;
    vertical-align: -0.8vw;
  }

  .gallery-photo {
    width: 80%;
    margin-bottom: 3rem;
  }

  .square {
    height: 72vw;
  }

  .rectangle {
    height: 96vw;
  }

  .full-screen-nav .fa {
    font-size: 5rem !important;
  }

  #close-button {
    top: 6vw;
    right: 2vw;
  }
}

@media only screen and (max-width: 365px) {
  .follow-button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 355px) {
  .follow-buttons {
    width: 70%;
  }
}

/* Testimonials */

#klientu-atsiliepimai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 0;
  background-color: hsl(271, 76%, 70%);
  color: white;
  -webkit-box-shadow: 0px 5px 16px hsl(271, 65%, 60%);
  box-shadow: 0px 5px 16px hsl(271, 65%, 60%);
  margin-bottom: 30px;
}

#klientu-atsiliepimai:focus {
  outline: none;
}

.testimonials-header {
  font-size: 3rem;
  font-family: serif;
}

html.fonts-loaded .testimonials-header {
  font-family: 'Playfair Display';
}

#slideshow-container {
  width: 100%;
  height: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.slide {
  width: 100%;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
}

html.fonts-loaded .slide {
  font-family: 'Raleway';
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.slide-text {
  margin: 4vw 21vw 5.25vw;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dots-container {
  height: 2rem;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2.25px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  vertical-align: middle;
  background-color: #717171;
}

.active {
  -webkit-transition: all 0.6s linear;
  -o-transition: all 0.6s linear;
  transition: all 0.6s linear;
  -webkit-transform: scale(1.33);
      -ms-transform: scale(1.33);
          transform: scale(1.33);
  background-color: white;
}

@media only screen and (max-width: 1050px) {
  .dot {
    height: 8px;
    width: 8px;
  }

  .active {
    -webkit-transform: scale(1.25);
        -ms-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@media only screen and (max-width: 900px) {
  .testimonials-header {
    font-size: 4rem;
  }

  .slide-text {
    margin: 4vw 10vw 5.25vw;
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  #klientu-atsiliepimai {
    padding: 7.5% 0;
  }

  .testimonials-header {
    font-size: 4.25rem;
  }
}

@media only screen and (max-width: 420px) {
  .slide-text {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  #slideshow-container {
    height: 30em;
  }
}