/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVIGxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMDr0fIA9c.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-size: 1.05vw;
}

@media only screen and (max-width: 1050px) {
  html {
      font-size: 1.35vw;
  }
}

@media only screen and (max-width: 600px) {
  html {
      font-size: 1.65vw;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection,
::selection {
  background-color:hsl(271, 65%, 50%);
  color: white;
}

picture {
  display: inline-block;
}

img {
  height: 100%;
  width: 100%;
  aspect-ratio: attr(width)/attr(height);
}

/* Header navigation*/

header {
  background-color: white;
  position: fixed;
  z-index: 10;
  height: 5.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  width: 100%;
  border-bottom: 2px solid hsla(0, 0%, 50%, 0.1);
}

html.fonts-loaded header {
  font-family: 'Open Sans';
}

header a {
  color: black;
  text-decoration: none;
}

/* Header navigation icon for mobile */
#header-nav-icon {
  font-size: 3.5rem;
  color: hsl(271, 76%, 70%);
  background-color: white;
  display: none;
  height: 100%;
  padding: 1rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#header-nav-icon.open {
  color:white;
  background-color: hsl(271, 76%, 70%);
}

#header-nav-menu li {
  display: inline;
  cursor: pointer;
}

#header-nav-menu a {
  padding: 1rem;
}

@media only screen and (max-width: 1145px) {
  #header-nav-menu li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  #header-nav-menu li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  #header-nav-menu li {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 715px) {
  #header-nav-menu li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 45px;
  }

  header nav {
    height: 100%;
  }

  #header-nav-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  #header-nav-icon::-moz-selection,
  #header-nav-icon::selection {
    background-color: transparent;
  }

  #header-nav-menu {
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    text-align: center;
    width: 100%;
  }

  #header-nav-menu.visible {
    display: block;
  }

  #header-nav-menu li {
    display: block;
    background-color: hsl(271, 76%, 70%);
    font-size: 2rem;
    border-bottom: 2px solid hsla(271, 76%, 60%, 0.4);
  }

  #header-nav-menu a:hover,
  #header-nav-menu a:focus {
    background-color: hsl(271, 76%, 60%);
  }

  header a {
    color: white;
  }

  header a::-moz-selection,
  header a::selection {
    background-color: transparent;
  }

  #header-nav-menu a {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 365px) {
  #header-nav-menu li {
    font-size: 12px;
  }
}

/* Header contact information */

.contact-info-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

@media only screen and (max-width: 1145px) {
  .contact-info-container {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  .contact-info-container {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .contact-info-container {
    display: none;
  }
}

.contact-info-icon,
.follow-button-icon {
  margin: 0 0.25rem;
}

.contact-info-icon.svg-tiktok-icon {
  height: 1rem;
  width: auto;
  vertical-align: -0.15vw;
}

.contact-info-delimiter {
  margin: 0 0.125rem;
}

@media only screen and (max-width: 1145px) {
  .contact-info-icon.svg-tiktok-icon {
    height: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  .contact-info-icon.svg-tiktok-icon {
    height: 1rem;
  }
}

/* Registration */

#registration-section-old {
  padding: 5.5% 5% 5%;
  background-color: white;
  display: none;
  border-top: 2px solid hsla(0, 0%, 50%, 0.1);
}

.registration-header h2 {
  font-family: serif;
  font-size: 2.25rem;
  text-align: center;
}

html.fonts-loaded .registration-header h2 {
  font-family: 'Playfair Display';
}

.registration-header p {
  margin: 1rem 0 2.5rem;
  font-size: 1rem;
  font-family: sans-serif;
  text-align: center;
}

html.fonts-loaded .registration-header p {
  font-family: 'Raleway';
}

.registration-form-container {
  width: 45%;
  margin: 0 auto;
}

.input-field {
  padding: 1.5%;
  margin: 1.5% 0;
  border: 1px solid hsla(0, 0%, 17%, 0.15);
  color: hsl(0, 0%, 42%);
  font-family: sans-serif;
  font-size: 1rem;
  outline: none;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

html.fonts-loaded .input-field {
  font-family: 'Raleway';
}

.input-field::-webkit-input-placeholder,
.input-field::-moz-placeholder,
.input-field:-ms-input-placeholder,
.input-field::-ms-input-placeholder,
.input-field::placeholder
 {
  color:hsl(0, 0%, 42%);
  opacity: 1;
}

input {
  width: 48%;
  height: 3rem;
  position: relative;
  z-index: 5;
}

select {
  width: 100%;
  height: 3rem;
}

textarea {
  width: 100%;
  resize: none;
}

#name,
#phone {
    float: left;
}

#email,
#date {
    float: right;
}

.registration-select-container {
  position: relative;
}

#custom-dropdown {
  width: 100%;
  position: absolute;
  background-color: white;
  visibility: hidden;
  list-style: none;
  font-family: sans-serif;
  font-size: 1rem;
  border: 2px solid hsla(0, 0%, 17%, 0.15);
}

html.fonts-loaded #custom-dropdown {
  font-family: 'Raleway';
}

#custom-dropdown.opened {
  visibility: visible;
  z-index: 5;
}

.option {
  padding: 10px;
}

.option:hover,
.option:focus {
  color: white;
  background: hsl(271, 65%, 60%);
  border: none;
  outline: none;
}

#submit {
  color: white;
  background-color:hsl(271, 76%, 70%);
  border: none;
  width: 35%;
  height: 3rem;
  font-size: 1.1rem;
  font-family: sans-serif;
  cursor: pointer;
}

html.fonts-loaded #submit {
  font-family: 'Open Sans';
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
  font-family: sans-serif;
}

html.fonts-loaded .modal {
  font-family: 'Open Sans';
}

.modal-content {
  background-color: white;
  padding: 1.25rem;
  border: 1px solid hsl(0, 0%, 53%);
  width: 80%;
  text-align: center;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-close-button {
  color: hsl(0, 0%, 67%);
  font-weight: bold;
  margin-top: 1.25rem;
}

.modal-close-button:hover {
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 1145px) {
  .registration-header p,
  .input-field,
  #custom-dropdown,
  .modal {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  .registration-header p,
  .input-field,
  #custom-dropdown,
  .modal {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .registration-header h2 {
    font-size: 3rem;
  }
  
  .registration-header p {
    font-size: 1.75rem;
  }
  
  .registration-form-container {
    width: 70%;
  }

  .input-field {
    font-size: 2rem;
    padding: 3%;
    width: 100%;
  }

  input {
    height: 2em;
  }

  select {
    height: 2em;
    padding: 0 2% !important;
  }

  #custom-dropdown {
    font-size: 2rem;
    border-width: 1px;
  }

  #date {
    padding: 1.5%;
  }

  #submit {
    font-size: 2rem;
    height: auto;
    width: auto;
    padding: 0.5em 1em;
  }

  .modal {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .registration-header h2 {
    font-size: 3.75rem;
  }
  
  .registration-header p {
    font-size: 2rem;
  }

  .registration-form-container {
    width: 80%;
  }
}

@media only screen and (max-width: 365px) {
  .registration-header p,
  .input-field,
  #custom-dropdown,
  #submit,
  .modal {
    font-size: 12px;
  }
}

/* Working information */

.working-info-container {
  background-color:hsl(271, 76%, 70%);
  color: white;
  padding: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.working-info-container picture {
  width: 15%;
  height: 10.26vw;
}

.working-info-container a {
  color: white;
}

.working-contacts .svg-tiktok-icon {
  height: 2rem;
  width: auto;
  vertical-align: -0.3vw;
}

.working-info-container h3,
.working-info-container h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: serif;
}

html.fonts-loaded .working-info-container h3,
html.fonts-loaded .working-info-container h4 {
  font-family: 'Playfair Display';
}

.working-info-container p {
  line-height: 2;
  font-family: sans-serif;
}

html.fonts-loaded .working-info-container p {
  font-family: 'Open Sans';
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 2rem;
  margin-top: 0.75rem;
  width: 50%;
}

.social-links i,
.social-links svg {
  color: white;
  margin-right: 2.5rem;
}

@media only screen and (max-width: 1145px) {
  .working-info-container p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  .working-info-container p {
    font-size: 1rem;
  }

  .working-info-container picture {
    width: 18%;
    height: 12.31vw;
  }

  .social-links {
    font-size: 32px;
    margin-top: 1.5rem;
  }

  .social-links i,
  .social-links svg {
    margin-right: 3rem;
  }

  .working-contacts .svg-tiktok-icon {
    height: 32px;
    vertical-align: -0.35vw;
  }
}

@media only screen and (max-width: 900px) {
  .working-info-container {
    padding: 5%;
  }

  .working-info-container picture {
    display: none;
  }

  .working-info-container h3,
  .working-info-container h4 {
    font-size: 2.25rem;
  }

  .working-info-container p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .working-info-container {
    padding: 7% 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .working-contacts {
    margin-top: 2rem;
  }

  .social-links {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .social-links i,
  .social-links svg {
    margin-right: 4rem;
  }
}

@media only screen and (max-width: 485px) {
  .working-info-container p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 475px) {
  .working-info-container h3,
  .working-info-container h4 {
    font-size: 3rem;
  }

  .working-info-container p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .social-links i,
  .social-links svg {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 415px) {
  .social-links {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 380px) {
  .social-links {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 365px) {
  .working-info-container p {
    font-size: 12px;
  }
}

/* Copyright and privacy information */

.copyright-privacy-info {
  padding: 0 10%;
  font-family: sans-serif;
  font-size: 0.9rem;
  background-color: white;
}

html.fonts-loaded .copyright-privacy-info {
  font-family: 'Open Sans';
}

.copyright {
  float: left;
}

.privacy-policy {
  float: right;
  color: gray;
  text-decoration: none;
}

@media only screen and (max-width: 1270px) {
  .copyright-privacy-info {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  .copyright-privacy-info {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 990px) {
  .copyright-privacy-info {
    font-size: 12px;
  }
}

@media only screen and (max-width: 900px) {
  .copyright-privacy-info {
    font-size: 1.25rem;
    padding: 0 5%;
  }
}

@media only screen and (max-width: 715px) {
  .copyright-privacy-info {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .copyright-privacy-info {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
  }

  .copyright,
  .privacy-policy {
    float: unset;
  }
}

@media only screen and (max-width: 485px) {
  .copyright-privacy-info {
    font-size: 12px;
  }
}

/* Registration/Scroll to top button and main/footer content */

#main-registration-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: white;
  background-color: hsl(271, 65%, 50%);
  font-family: sans-serif;
  font-size: 1.1rem;
  border: none;
  border-radius: 1.25rem;
  position: fixed;
  bottom: 1.4vw;
  left: 1.4vw;
  display: inline-block;
  z-index: 1;
}

html.fonts-loaded #main-registration-button {
  font-family: 'Open Sans';
}

#scroll-to-top-button {
  position: fixed;
  bottom: 1.4vw;
  right: 1.4vw;
  width: 4.2vw;
  height: 4.2vw;
  border-radius: 50%;
  background-color: hsl(271, 65%, 50%);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

#scroll-to-top-button.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#scroll-to-top-button i {
  margin: 0 auto;
}

main,
footer {
  position: relative;
  top: 5.25vw;
}

@media only screen and (max-width: 1050px) {
  #main-registration-button {
    font-size: 1.4rem;
    bottom: 1.5vw;
    left: 1.5vw;
  }

  #scroll-to-top-button {
    font-size: 1.4rem;
    bottom: 1.5vw;
    right: 1.5vw;
  }
}

@media only screen and (max-width: 1000px) {
  #main-registration-button,
  #scroll-to-top-button {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 920px) {
  #main-registration-button {
    font-size: 1.4rem;
  }

  #scroll-to-top-button {
    font-size: 1.4rem;
    width: 5vw;
    height: 5vw;
  }
}

@media only screen and (max-width: 900px) {
  #main-registration-button {
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 1.75rem;
    bottom: 2.3vw;
    left: 2.3vw;
  }

  #scroll-to-top-button {
    width: 7.5vw;
    height: 7.5vw;
    bottom: 2.3vw;
    right: 2.3vw;
    font-size: 1.5rem;
  }
}
 
@media only screen and (max-width: 600px) {
  #scroll-to-top-button {
    width: 10vw;
    height: 10vw;
  }

  main,
  footer {
    top: 45px;
  }
}

@media only screen and (max-width: 500px) {
  #main-registration-button,
  #scroll-to-top-button {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 465px) {
  #main-registration-button {
    left: 1.8vw;
  }

  #scroll-to-top-button {
    right: 1.8vw;
  }
}

@media only screen and (max-width: 415px) {
  #main-registration-button,
  #scroll-to-top-button {
    bottom: 6vw;
  }
}

@media only screen and (max-width: 400px) {
  #main-registration-button {
    font-size: 2.15rem;
    padding: 7px 12px;
  }

  #scroll-to-top-button {
    font-size: 2.15rem;
  }
}

@media only screen and (max-width: 380px) {
  #main-registration-button,
  #scroll-to-top-button {
    bottom: 2.3vw;
  }
}

@media only screen and (max-width: 340px) {
  #main-registration-button,
  #scroll-to-top-button {
    font-size: 12px;
  }
}

/* Cookies dialog */
#cookies-dialog {
  position: fixed;
  bottom: 1%;
  background-color: white;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
  text-align: center;
  padding: 1%;
  border: 2px solid hsla(0, 0%, 50%);
  z-index: 1;
  font-family: sans-serif;
  font-size: 0.875rem;
  display: none;
}

#cookies-dialog:focus {
  outline: none;
}

#cookies-dialog.displayed {
  display: block;
}

#cookies-dialog br {
  display: none;
}

#cookies-dialog-policy-link {
  color: gray;
  text-decoration: underline;
}

#cookies-dialog-confirm-button {
  margin-top: 1%;
  border: none;
  background-color: hsl(271, 65%, 50%);
  padding: 0.625rem 1.25rem;
  color: white;
  cursor: pointer;
  border-radius: 0.625rem;
  font-family: 'sans-serif';
  font-size: 0.875rem;
}

html.fonts-loaded #cookies-dialog,
html.fonts-loaded #cookies-dialog-confirm-button {
  font-family: 'Open Sans';
}

@media only screen and (max-width: 1310px) {
  #cookies-dialog,
  #cookies-dialog-confirm-button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  #cookies-dialog {
    width: 65%;
  }

  #cookies-dialog-confirm-button {
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 900px) {
  #cookies-dialog {
    width: 55%;
  }
}

@media only screen and (max-width: 805px) {
  #cookies-dialog br {
    display: inline;
  }

  #cookies-dialog-confirm-button {
    margin-top: 16px;
  }
}

@media only screen and (max-width: 725px) {
  #cookies-dialog {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  #cookies-dialog {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  #cookies-dialog {
    padding: 2%;
  }
}