/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.gallery {
  padding: 5%;
  background-color: white;
}

.gallery-header {
  margin: 0 8.5% 4%;
}

h1 {
  font-size: 2.75rem;
  font-family: serif;
  font-weight: 500;
  text-align: center;
}

html.fonts-loaded h1 {
  font-family: 'Playfair Display';
}

#gallery-photos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-filter-container {
  width: 82.5%;
  text-align: center;
  margin: 0 auto 20px;
}

.gallery-filter {
  background-color: white;
  border: none;
  margin: 0 10px 5px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1rem;
  color: hsla(0, 0%, 0%, 0.5);
  border-bottom: 2px solid transparent;
}

html.fonts-loaded .gallery-filter {
  font-family: 'Open Sans';
}

.gallery-filter.focused-filter {
  border-bottom: 2px solid hsl(271, 65%, 60%);
  color: black;
}

.gallery-filter:hover {
  color: black;
}

br {
  display: none;
}

.gallery-photo {
  width: 20%;
  margin: 0.5%;
  cursor: pointer;
}

.square {
  height: 18vw;
}

.rectangle {
  height: 24vw;
}

#full-screen-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.9);
  z-index: 10;
}

#full-screen-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 90%;
  width: auto;
}

.full-screen-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.full-screen-nav .fa {
  color: white;
  font-size: 2em;
  line-height: .03125em;
  vertical-align: -.1875em;
}

.full-screen-nav .fa:hover {
  color: gray;
}

#close-button {
  top: 4vw;
  right: 4vw;
}

#prev-button {
  left: 2%;
}

#next-button {
  right: 2%;
}

#gallery-registration-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: white;
  background-color: hsl(271, 65%, 50%);
  font-family: sans-serif;
  font-size: 1.1rem;
  border: none;
  border-radius: 1.25rem;
  position: fixed;
  bottom: 1.4vw;
  left: 1.4vw;
  opacity: 0.75;
  display: none;
}

html.fonts-loaded #gallery-registration-button {
  font-family: 'Open Sans';
}

#gallery-registration-button.hide {
  display: none;
}

@media only screen and (max-width: 1145px) {
  .gallery-filter {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1050px) {
  .gallery-filter {
    font-size: 1rem;
  }

  br.first {
    display: inline;
  }

  #gallery-registration-button {
    font-size: 1rem;
    bottom: 2.1vw;
    left: 2.1vw;
  }
}

@media only screen and (max-width: 1000px) {
  #gallery-registration-button {
    bottom: 1.6vw;
    left: 1.6vw;
  }
}

@media only screen and (max-width: 900px) {
  .gallery-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 3rem;
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .gallery-filter {
    font-size: 1.25rem;
  }

  .gallery-photo {
    width: 40%;
  }

  .square {
    height: 36vw;
  }

  .rectangle {
    height: 48vw;
  }

  .full-screen-nav .fa {
    font-size: 4rem !important;
  }

  #close-button {
    top: 6vw;
  }

  #gallery-registration-button {
    font-size: 1.25rem;
    bottom: 2.3vw;
    left: 2.3vw;
  }
}

@media only screen and (max-width: 750px) {
  #close-button {
    top: 5vw;
    right: 3vw;
  }
}

@media only screen and (max-width: 725px) {
  #close-button {
    top: 4vw;
    right: 2vw;
  }
}

@media only screen and (max-width: 700px) {
  #close-button {
    top: 3vw;
    right: 1vw;
  }
}

@media only screen and (max-width: 715px) {
  .gallery-filter {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .gallery-filter {
    font-size: 1.5rem;
  }

  br.first {
    display: none;
  }

  br.second {
    display: inline;
  }

  .gallery-photo {
    width: 80%;
    margin-bottom: 3rem;
  }

  .square {
    height: 72vw;
  }

  .rectangle {
    height: 96vw;
  }

  .full-screen-nav .fa {
    font-size: 5rem !important;
  }

  #close-button {
    top: 6vw;
    right: 2vw;
  }

  #gallery-registration-button {
    font-size: 1.5rem;
    border-radius: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  #gallery-registration-button {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 485px) {
  .gallery-filter {
    font-size: 12px;
  }
}

@media only screen and (max-width: 390px) {
  br.first, br.third {
    display: inline;
  }
}

@media only screen and (max-width: 375px) {
  #gallery-registration-button {
    font-size: 2.5rem;
  }
}