/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.gallery {
  padding: 5%;
  background-color: hsl(210, 33%, 99%);
  -webkit-box-shadow: 0px 5px 16px hsl(271, 65%, 60%);
  box-shadow: 0px 5px 16px hsl(271, 65%, 60%);
  margin-bottom: 30px;
}

.gallery-header {
  margin: 0 8.5% 4%;
}

.gallery-header h1 {
  font-size: 2.75rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
}

#gallery-photos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-filter-container {
  width: 80%;
  text-align: center;
  margin: 0 auto 20px;
}

.gallery-filter {
  background-color: hsl(210, 33%, 99%);
  border: none;
  margin: 0 10px 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: hsla(0, 0%, 0%, 0.5);
  border-bottom: 2px solid transparent;
}

.gallery-filter.focused-filter {
  border-bottom: 2px solid hsl(271, 65%, 60%);
  color: black;
}

.gallery-filter:hover {
  color: black;
}

br {
  display: none;
}

.gallery-photo {
  width: 20%;
  margin: 0.5%;
  cursor: pointer;
}

.gallery-photo.square {
  height: 18vw;
}

.gallery-photo.rectangle {
  height: 24vw;
}

#full-screen-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.9);
  z-index: 10;
}

#full-screen-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 90%;
  
}

.full-screen-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
  background-color: transparent;
  border: none;
}

.full-screen-nav .fa {
  color: white;
  font-size: 2em;
  line-height: .03125em;
  vertical-align: -.1875em;
}

.full-screen-nav .fa:hover {
  color: gray;
}

#close-button {
  top: 4vw;
  right: 4%;
}

#prev-button {
  left: 2%;
}

#next-button {
  right: 2%;
}

@media only screen and (max-width: 1050px) {
  br.first {
    display: inline;
  }
}

@media only screen and (max-width: 900px) {
  .gallery-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 3rem;
  }

  .gallery-header h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  .gallery-filter {
    font-size: 1.25rem;
  }

  .gallery-photo {
    width: 40%;
  }

  .gallery-photo.square {
    height: 36vw;
  }

  .gallery-photo.rectangle {
    height: 48vw;
  }

  .full-screen-nav .fa {
    font-size: 4rem !important;
  }
}

@media only screen and (max-width: 600px) {
  .gallery-filter {
    font-size: 1.5rem;
  }

  br.first {
    display: none;
  }

  br.second {
    display: inline;
  }

  .gallery-photo {
    width: 80%;
    margin-bottom: 3rem;
  }

  .gallery-photo.square {
    height: 72vw;
  }

  .gallery-photo.rectangle {
    height: 96vw;
  }

  .full-screen-nav .fa {
    font-size: 5rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .gallery-filter {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 330px) {
  br.first, br.third {
    display: inline;
  }
}