/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.pricelist {
  color: white;
  background-color: hsl(271, 76%, 70%);
  padding: 4% 5%;
  -webkit-box-shadow: 0px 5px 16px hsl(271, 65%, 60%);
  box-shadow: 0px 5px 16px hsl(271, 65%, 60%);
  margin-bottom: 30px;
}

.pricelist h1 {
  text-align: center;
  padding-bottom: 0.875%;
  font-size: 2.5rem;
  font-family: serif;
}

html.fonts-loaded .pricelist h1 {
  font-family: 'Playfair Display';
}

.pricelist-notes-container {
  margin-bottom: 3.5%;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.9375rem;
  font-style: italic;
}

html.fonts-loaded .pricelist-notes-container {
  font-family: 'Open Sans';
}

.pricelist-note {
  margin: 4px 0;
}

.note-important {
  font-weight: 600;
  display: inline;
}

.prices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices-container.column {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-container {
  display: inline-block;
  width: 50%;
  padding: 20px 40px;
}

.procedure-price {
  border-bottom: 2px solid white;
  font-size: 1.5rem;
  font-family: sans-serif; 
}

html.fonts-loaded .procedure-price {
  font-family: 'Open Sans';
}

.price {
  float: right;
}

.procedure-duration {
  font-family: sans-serif;
}

html.fonts-loaded .procedure-duration {
  font-family: 'Raleway';
}

br {
  display: none;
}

@media only screen and (max-width: 1050px) {
  .procedure-price {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 900px) {
  .pricelist {
    padding: 4% 3%;
  }
  .price-container {
    padding: 20px 30px;
  }
}

@media only screen and (max-width: 800px) {
  .pricelist h1 {
    font-size: 3rem;
  }

  .pricelist-notes-container {
    font-size: 1.1rem;
  }

  .price-container {
    padding: 20px 20px;
  }

  .procedure-price {
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 700px) {
  .pricelist h1 {
    font-size: 4rem;
  }

  .pricelist-notes-container {
    font-size: 1.3rem;
    padding: 0 20px;
  }

  .prices-container.column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .prices-container.row {
    display: none;
  }

  .price-container {
    width: 100%;
  }

  .procedure-price {
    font-size: 2.25rem;
  }

  .procedure-duration {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .pricelist-notes-container {
    font-size: 1.4rem;
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  .pricelist h1 {
    font-size: 3.5rem;
  }

  .price-container {
    padding: 20px 10px;
  }

  .procedure-price {
    font-size: 2.1rem;
  }

  br.first {
    display: inline;
  }
}

@media only screen and (max-width: 500px) {
  .pricelist-notes-container {
    font-size: 1.5rem;
  }

  .pricelist-note {
    margin: 6px 0;
  }
}

@media only screen and (max-width: 475px) {
  .pricelist h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 425px) {
  .pricelist-notes-container {
    font-size: 1.75rem;
    padding: 0 10px;
  }

  .procedure-duration {
    font-size: 2rem;
  }

  br.second {
    display: inline;
  }
}

@media only screen and (max-width: 350px) {
  .pricelist-notes-container {
    font-size: 2rem;
    padding: 0 10px;
  }
}