/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.contacts {
  padding: 5%;
  background-color: hsl(210, 33%, 99%);
  -webkit-box-shadow: 0px 5px 16px hsl(271, 65%, 60%);
  box-shadow: 0px 5px 16px hsl(271, 65%, 60%);
  margin-bottom: 30px;
}

.contacts h1 {
  font-size: 2.75rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5%;
}

#map {
  display: inline-block;
  width: 75%;
  height: 400px;
}

#contacts-info-container {
  display: inline-block;
  margin-left: 3%;
  vertical-align: top;
}

#contacts-info-container h4 {
  font-size: 1.4rem;
  font-family: 'Playfair Display', serif;
  margin-top: 1rem;
}

#contacts-info-container h4:nth-of-type(1) {
  margin-top: 0;
}

#contacts-info-container p {
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}

.contacts-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 1.5rem;
  margin-top: 0.25rem;
  width: 50%;
}

.contacts-social-links i,
.contacts-social-links svg {
  color: black;
  margin-right: 0.75rem;
}

.contacts-social-links .svg-tiktok-icon {
  height: 1.5rem;
  width: auto;
  vertical-align: -0.2vw;
}

@media only screen and (max-width: 900px) {
  .contacts h1 {
    font-size: 3.5rem;
  }

  .contacts-info-container h4 {
    font-size: 2.25rem;
  }

  .contacts-info-container p {
    font-size: 1.5rem;
  }

  .contacts-social-links {
    font-size: 2.25rem;
    margin-top: 1.5rem;
  }

  .contacts-social-links i,
  .contacts-social-links svg {
    margin-right: 2rem;
  }

  .contacts-social-links .svg-tiktok-icon {
    height: 2.25rem;
    vertical-align: -0.35vw;
  }
}

@media only screen and (max-width: 600px) {
  .contacts-social-links {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 475px) {
  .contacts-info-container h4 {
    font-size: 3rem;
  }

  .contacts-info-container p {
    font-size: 2rem;
  }

  .contacts-social-links {
    font-size: 3.25rem;
  }

  .contacts-social-links .svg-tiktok-icon {
    height: 3.25rem;
    vertical-align: -0.8vw;
  }
}