/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.procedures-list {
  background-color: white;
}

.procedures-list h1 {
  text-align: center;
  padding: 4% 0;
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  border-bottom: 2px solid hsla(0, 0%, 50%, 0.1);
}

.procedure-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.procedure-description-container.even {
  background-color: hsl(271, 76%, 70%);
  color: white;
}

.procedure-description-container.odd {
  background-color: white;
  color: black;
}

.procedure-description-container img {
  width: 24vw;
  height: 15.33vw;
  -webkit-box-shadow: 16px 16px 16px hsl(271, 65%, 60%);
          box-shadow: 16px 16px 16px hsl(271, 65%, 60%);
}

.procedure-description {
  width: 60%;
  padding: 2.5% 0;
  text-align: center;
}

.procedure-description h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
}

.procedure-description p {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-style: italic;
  margin: 0.5rem 0;
}

.registration-button {
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 1rem;
  display: none;
}

.registration-button.even {
  color: hsl(271, 76%, 70%);
  background-color: white;
}

.registration-button.odd {
  background-color: hsl(271, 76%, 70%);
  color: white;
}

.registration-button:hover {
  background-color: hsl(271, 76%, 60%);
  color:white;
}

@media only screen and (max-width: 1100px) {
  .procedure-description-container.odd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .procedure-description-container.even {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .procedure-description-container img {
    width: 30vw;
    height: 20vw;
    margin-top: 4rem;
  }

  .procedure-description {
    padding-top: 3.5%;
  }
}

@media only screen and (max-width: 800px) {
  .procedures-list h1 {
    font-size: 3rem;
  }

  .procedure-description {
    width: 70%;
  }
  
  .procedure-description h2 {
    font-size: 2.5rem;
  }

  .procedure-description p {
    font-size: 1.5rem;
  }
  
  .registration-button {
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 700px) {
  .procedure-description-container img {
    width: 40vw;
    height: 26.67vw;
  }
}

@media only screen and (max-width: 450px) {
  .procedures-list h1 {
    font-size: 5rem;
  }

  .procedure-description-container img {
    width: 75vw;
    height: 50vw;
    -webkit-box-shadow: 10px 10px 10px hsl(271, 65%, 60%);
          box-shadow: 10px 10px 10px hsl(271, 65%, 60%);
  }

  .procedure-description {
    width: 80vw;
    padding-top: 5%;
  }

  .procedure-description h2 {
    font-size: 4rem;
  }
  
  .procedure-description p {
    font-size: 2rem;
  }
  
  .registration-button {
    font-size: 1.75rem;
  }
}