/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.care {
  padding: 5% 4.5%;
  background-color: white;
}

.care h1 {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5%;
}

.care h2 {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
  margin-top: 4%;
}

.care h4 {
  font-size: 1.4rem;
  font-family: 'Playfair Display', serif;
  margin: 1.25rem 0 0.25rem;
}

.care h4:nth-of-type(1) {
  margin-top: 0;
}

.care p,
.care li {
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}

.care-important-info {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}

@media only screen and (max-width: 900px) {
  .care {
    padding: 5% 5% 5% 7%;
  }

  .care h4 {
    font-size: 1.75rem;
  }

  .care p,
  .care li {
    font-size: 1.25rem;
  }

  .care-important-info {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .care h4 {
    font-size: 2rem;
  }

  .care p,
  .care li {
    font-size: 1.5rem;
  }

  .care-important-info {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .care h1 {
    font-size: 3.5rem;
  }

  .care h2 {
    font-size: 3rem;
  }

  .care h4 {
    margin-top: 1.5rem;
  }
  
  .care h4:nth-of-type(1) {
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .care h1 {
    font-size: 4rem;
  }

  .care h2 {
    font-size: 3.75rem;
    margin-top: 10%;
  }

  .care h4 {
    font-size: 2.25rem;
    margin-top: 2rem;
  }

  .care h4:nth-of-type(1) {
    margin-top: 0;
  }

  .care p,
  .care li {
    font-size: 1.75rem;
  }

  .care-important-info {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  .care h4 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
  }

  .care h4:nth-of-type(1) {
    margin-top: 0;
  }

  .care p,
  .care li {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 375px) {
  .care h4 {
    font-size: 3.25rem;
  }

  .care p,
  .care li {
    font-size: 2.25rem;
  }
}