/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.care {
  padding: 5% 4.5%;
  background-color: white;
}

h1 {
  font-size: 3rem;
  font-family: serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5%;
}

html.fonts-loaded h1 {
  font-family: 'Playfair Display';
}

h2.general-info {
  font-size: 2.5rem;
  font-family: serif;
  font-weight: 500;
  text-align: center;
  margin-top: 3.64vw;
}

html.fonts-loaded h2.general-info {
  font-family: 'Playfair Display';
}

.care-h2-h3 {
  font-size: 1.4rem;
  font-family: serif;
  margin: 1.25rem 0 0.25rem;
}

html.fonts-loaded .care-h2-h3 {
  font-family: 'Playfair Display';
}

.first-care-h2,
.first-care-h3 {
  margin-top: 0;
}

.care p,
.care li {
  line-height: 2;
  font-family: sans-serif;
}

html.fonts-loaded .care p,
html.fonts-loaded .care li {
  font-family: 'Open Sans';
}

p.care-important-info {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0;
}

@media only screen and (max-width: 1145px) {
  .care-h2-h3 {
    font-size: 16.8px;
  }

  .care p,
  .care li {
    font-size: 12px;
  }

  p.care-important-info {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1050px) {
  .care-h2-h3 {
    font-size: 1.4rem;
  }

  .care p,
  .care li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }

  .care {
    padding: 5% 5% 5% 7%;
  }

  h2.care-h2-h3 {
    font-size: 2rem;
  }

  h3.care-h2-h3 {
    font-size: 1.75rem;
  }

  h2.general-info {
    font-size: 3rem;
  }

  .care p,
  .care li {
    font-size: 1.25rem;
  }

  p.care-important-info {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 715px) {
  h2.care-h2-h3,
  h3.care-h2-h3 {
    font-size: 16.8px;
  }

  .care p,
  .care li {
    font-size: 12px;
  }

  p.care-important-info {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }

  h2.care-h2-h3 {
    font-size: 2.5rem;
  }

  h3.care-h2-h3 {
    font-size: 2.25rem;
  }

  h2.general-info {
    font-size: 3.75rem;
  }

  .care p,
  .care li {
    font-size: 1.5rem;
  }

  p.care-important-info {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    margin-bottom: 10%;
  }

  h2.general-info {
    margin-top: 8.8vw;
  }

  p.care-important-info {
    margin: 3rem 0;
  }

  .care-h2-h3 {
    margin-top: 1.5rem;
  }
  
  .first-care-h2,
  .first-care-h3 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  h2.care-h2-h3,
  h3.care-h2-h3 {
    font-size: 2.45rem;
    margin-top: 2rem;
  }

  .care p,
  .care li {
    font-size: 1.75rem;
  }

  p.care-important-info {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 4.2rem;
  }

  h2.general-info {
    font-size: 4rem;
  }

  h2.care-h2-h3,
  h3.care-h2-h3 {
    font-size: 2.8rem;
    margin-top: 2.5rem;
  }

  .first-care-h2,
  .first-care-h3 {
    margin-top: 0;
  }

  .care p,
  .care li {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 375px) {
  h2.care-h2-h3,
  h3.care-h2-h3 {
    font-size: 3.25rem;
  }

  .care p,
  .care li {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 325px) {
  .care p,
  .care li {
    font-size: 12px;
  }
}