/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4uaVIGxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTLYgFE_.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playfairdisplay/v30/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYgA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMDr0fIA9c.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Pt_g8zYS_SKggPNyCgSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

::selection {
  background-color:hsl(271, 65%, 60%);
  color: white;
}

header {
  background-color: white;
  position: fixed;
  z-index: 10;
  height: 5.25vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

#header-nav-icon {
  font-size: 3.5rem;
  color:hsl(271, 76%, 80%);
  display: none;
  height: 100%;
  padding: 1rem;
  align-items: center;
}

#header-nav-icon:hover {
  color: white;
  background-color: hsl(271, 76%, 70%);
}

header a {
  color: black;
  text-decoration: none;
}

#header-nav-menu li {
  display: inline;
  padding: 1rem;
}

@media only screen and (max-width: 430px) {
  header {
    justify-content: flex-end;
    height: 10vw;
  }

  header nav {
    height: 100%;
  }

  #header-nav-icon {
    display: inline-flex;
  }

  #header-nav-menu {
    display: none;
    position: absolute;
    top: 10vw;
    left: 0;
    text-align: center;
    width: 100%;
  }

  #header-nav-menu.visible {
    display: block;
  }

  #header-nav-menu li {
    display: block;
    background-color: hsl(271, 76%, 80%);
    font-size: 2rem;
  }

  #header-nav-menu li:hover {
    background-color: hsl(271, 76%, 70%);
  }

  header a {
    color: white;
  }
}

.contact-info-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .contact-info-container {
    display: none;
  }
}

.contact-info-icon,
.follow-button-icon {
  margin: 0 0.25rem;
}

.contact-info-delimiter {
  margin: 0 0.125rem;
}

.banner {
  height: 32.5vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: hsl(271, 76%, 80%);
  padding-right: 5%;
}

.banner-photo {
  height: 95%;
}

.banner-logo-container {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-logo {
  height: 55%;
  margin-bottom: 10%;
}

#banner-registration-button {
  color: hsl(271, 76%, 80%);
  background-color: white;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
}

#banner-registration-button:hover {
  background-color: hsl(271, 76%, 70%);
  color:white;
}

.procedures-header {
  text-align: center;
  padding-top: 4%;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}

.procedures-container {
  display: flex;
  justify-content: space-around;
}

.procedure {
  width: 23%;
  margin: 5% 0;
  color: black;
  text-align: center;
  text-decoration: none;
}

.procedure img {
  width: 100%;
  aspect-ratio: 3/2;
}

.procedure h4 {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 1em;
  font-family: 'Raleway', sans-serif;
}

.about-me {
  padding: 5% 0;
  background-color: hsl(271, 76%, 80%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-photo {
  width: 35%;
  margin-right: 5%;
  box-shadow: 16px 16px 16px hsl(271, 65%, 60%);
}

.about-me-content {
  display: inline-block;
  text-align: center;
  width: 40%;
}

.about-me-content h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin: 1rem 0 3rem;
}

.about-me-content p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .about-me-content p {
    font-size: 1.1rem;
  }
}

.gallery {
  padding: 5%;
}

.gallery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8.5% 4%;
}

.gallery-header h2 {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.follow-button {
    padding: 1rem;
    margin: 0 0.5rem;
    color: white;
    text-decoration: none;
    background-color: hsl(271, 76%, 80%);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}

@media only screen and (max-width: 800px) {
  .follow-button {
    font-size: 0.9rem;
  }
}

#gallery-photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-photo {
  width: 20%;
  margin: 0.5%;
  cursor: pointer;
}

.gallery-photo.square {
  aspect-ratio: 1/1;
}

.gallery-photo.rectangle {
  aspect-ratio: 3/4;
}

#full-screen-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.9);
  z-index: 10;
}

#full-screen-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 90%;
}

.full-screen-nav {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  color: white;
}

.full-screen-nav:hover {
  color: gray;
}

#prev-button {
  left: 2%;
}

#next-button {
  right: 2%;
}

.testimonials-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5% 0;
  background-color: hsl(271, 76%, 80%);
  color: white;
}

.testimonials-header {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}

#slideshow-container {
  height: 18em;
}

.slide {
  display: none;
  margin: 5.25vw 21vw;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
}

.slide.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.dots-container {
  height: 2rem;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2.25px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.6s linear;
  vertical-align: middle;
}

.dot.active {
  background-color: white;
  height: 16px;
  width: 16px;
}

@media only screen and (max-width: 800px) {
  .dot {
    height: 8px;
    width: 8px;
  }

  .dot.active {
    height: 10px;
    width: 10px;
  }
}

#registration-section {
  padding: 5.5% 5% 5%;
}

.registration-header {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  text-align: center;
}

.registration-header p {
  margin: 1rem 0 2.5rem;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
}

.registration-form-container {
  width: 45%;
  margin: 0 auto;
}

.registration-form-container .input-field {
  padding: 1.5%;
  margin: 1.5% 0;
  border: 1px solid hsla(0, 0%, 17%, 0.15);
  color: hsl(0, 0%, 42%);
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  outline: none;
  background-color: white;
}

.registration-form-container .input-field::placeholder {
  opacity: 1;
}

.registration-form-container input {
  width: 48%;
  height: 3rem;
  position: relative;
  z-index: 5;
}

.registration-form-container select {
  width: 100%;
  height: 3rem;
}

.registration-form-container textarea {
  width: 100%;
  resize: none;
}

#name,
#phone {
    float: left;
}

#email,
#date {
    float: right;
}

.registration-select-container {
  position: relative;
}

#custom-dropdown {
  width: 100%;
  position: absolute;
  background-color: white;
  visibility: hidden;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  border: 2px solid hsla(0, 0%, 17%, 0.15);
}

#custom-dropdown.opened {
  visibility: visible;
  z-index: 5;
}

#custom-dropdown .option {
  padding: 10px;
}

#custom-dropdown .option:hover {
  color: white;
  background: hsl(271, 65%, 60%);
}

#submit {
  color: white;
  background-color:hsl(271, 76%, 80%);
  border: none;
  width: 35%;
  height: 3rem;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
  font-family: 'Open Sans', sans-serif;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 1.25rem;
  border: 1px solid hsl(0, 0%, 53%);
  width: 80%;
  text-align: center;
}

.modal-close-button {
  color: hsl(0, 0%, 67%);
  font-weight: bold;
  margin-top: 1.25rem;
}

.modal-close-button:hover {
  color: black;
  cursor: pointer;
}

.working-info-container {
  background-color:hsl(271, 76%, 80%);
  color: white;
  padding: 2.5%;
  display: flex;
  justify-content: space-around;
  align-items:start;
}

.working-info-container img {
  width: 15%;
  height: 90%;
}

@media only screen and (max-width: 800px) {
  .working-info-container img {
    width: 18%;
    height: auto;
  }
}

.working-info-container h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', serif;
}

.working-info-container p {
  line-height: 2;
  font-family: 'Open Sans', sans-serif;
}

.social-links {
  display: flex;
  justify-content: start;
  font-size: 1.5rem;
  margin-top: 0.75rem;
  width: 50%;
}

.social-links i {
  color: white;
  margin-right: 1rem;
}

.copyright-privacy-info {
  padding: 0 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.copyright {
  float: left;
}

.privacy-policy {
  float: right;
}

.copyright-privacy-info a {
  color: gray;
  text-decoration: none;
}

#scroll-to-top-button {
  position: fixed;
  bottom: 2.1vw;
  right: 2.1vw;
  width: 4.2vw;
  height: 4.2vw;
  border-radius: 50%;
  background-color: hsl(271, 65%, 60%);
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  cursor: pointer;
}

#scroll-to-top-button.show {
  display: flex;
}

main,
footer {
  position: relative;
  top: 5.25vw;
}